body {
    background-color: green;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo {
    position: relative;
    margin: 100px auto;
    background-image: url("cricket-logo3.jpeg"), linear-gradient(green, green);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;

    height: 500px;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CENTERED & OVERLAPPING BUTTONS */
.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    /* background-color: rgba(0, 0, 255, 0.7); */
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    isolation: isolate; /* Prevent blend mode effects */
}

.button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #1b5e20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #003399;
}
