@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f2f5;
}

.container{
    border: 2px solid #ccc;
    width: 400px;
    padding: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fullname,
.email,
.password{
    display: flex;
    flex-direction: column;
}

label{
    color:#555;
}

input{
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 35px;
    font-size: 14px;
    padding: 0 10px;
}

input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}