body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  .container {
    background: white;
    height: 80vh;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .Striker{
    height: 50px;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .Non-Striker{
    height: 50px;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  }

  .Opening-Bowler{
    height: 50px;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  }

  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  button {
    background: green;
    color: white;
    border: none;
    width: 400px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 80px;
  }